html {
	font-size: 62.5%;
}

/* thanks to font-size we can know the value of rem
1rem = 10px
1.5rem = 15px
102.4rem = 1024px */

body {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80rem;
    border: 1px solid black;
}

.tile {
    transition: all .07s ease;
}

.mouseover {
    background-color: #ffc600;
}